{% extends './base.html' %}

{% block title %}Docentes{% endblock %}

{% block body %}
<div class="conteiner">
    <div class="row m-2">
        <div class="col text-white bg-secondary py-2">Nombres</div>
        <div class="col text-white bg-secondary py-2">Apellido Paterno</div>
        <div class="col text-white bg-secondary py-2">Apellido Materno</div>
        <div class="col text-white bg-secondary py-2">Estado</div>
        <div class="col text-white bg-secondary py-2"></div>
    </div>
    {% for docente in docentes %}
    <div class="row m-2">
        <div class="col">{{ docente[1] }}</div>
        <div class="col">{{ docente[2] }}</div>
        <div class="col">{{ docente[3] }}</div>
        <div class="col">{% if docente[5]: %}Activo{% else %}Inactivo {% endif %}</div>
        <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editar"
                data-bs-id="{{ docente[0] }}"
                data-bs-names="{{ docente[1] }}"
                data-bs-ln="{{ docente[2] }}"
                data-bs-sln="{{ docente[3] }}"
                data-bs-edad="{{ docente[4] }}"
                data-bs-state="{{ docente[5] }}"
                data-bs-idescuela="{{ docente[6] }}"
                data-bs-idpuesto="{{ docente[7] }}"
                data-bs-idgenero="{{ docente[8] }}">
                Actualizar
            </button> 
        </div>
    </div>
    {% endfor %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crear">Nuevo</button>
</div>

<div class="modal fade" id="crear" tabindex="-1" aria-labelledby="crearLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="crearLabel">Registrar Docente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formulario" action="/new-docente" method="post">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                <label for="newNames" class="col-form-label">Nombres:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="newNames" name="newNames">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                <label for="newLastName" class="col-form-label">Apellido Paterno:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="newLastName" name="newLastName">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                <label for="newSecondLastName" class="col-form-label">Apellido Materno:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="newSecondLastName" name="newSecondLastName">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                <label for="newEdad" class="col-form-label">Edad:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="newEdad" name="newEdad">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <label class="input-group-text" for="newGenero">Genero</label>
                            <select class="form-select" id="newGenero" name="newGenero">
                            {% for genero in generos %}
                            <option value="{{ genero[0] }}">{{ genero[1] }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <label class="input-group-text" for="NewEscuela">Escuela</label>
                            <select class="form-select" id="NewEscuela" name="NewEscuela">
                            {% for escuela in escuelas %}
                            <option value="{{ escuela[0] }}">{{ escuela[1] }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <label class="input-group-text" for="NewPuesto">Puesto</label>
                            <select class="form-select" id="NewPuesto" name="NewPuesto">
                            {% for puesto in puestos %}
                            <option value="{{ puesto[0] }}">{{ puesto[1] }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editar" tabindex="-1" aria-labelledby="editarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editarLabel">Actualizar Docente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateFormulario" action="" method="post">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                <label for="updateNames" class="col-form-label">Nombres:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="updateNames" name="updateNames">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                <label for="updateLastName" class="col-form-label">Apellido Paterno:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="updateLastName" name="updateLastName">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                <label for="updateSecondLastName" class="col-form-label">Apellido Materno:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="updateSecondLastName" name="updateSecondLastName">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-4">
                                <label for="updateEdad" class="col-form-label">Edad:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="updateEdad" name="updateEdad">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <label class="input-group-text" for="updateGenero">Genero</label>
                            <select class="form-select" id="updateGenero" name="updateGenero">
                            {% for genero in generos %}
                            <option value="{{ genero[0] }}">{{ genero[1] }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <label class="input-group-text" for="updateEscuela">Escuela</label>
                            <select class="form-select" id="updateEscuela" name="updateEscuela">
                            {% for escuela in escuelas %}
                            <option value="{{ escuela[0] }}">{{ escuela[1] }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <label class="input-group-text" for="updatePuesto">Puesto</label>
                            <select class="form-select" id="updatePuesto" name="updatePuesto">
                            {% for puesto in puestos %}
                            <option value="{{ puesto[0] }}">{{ puesto[1] }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="activo" autocomplete="off" value="true">
                            <label class="btn btn-outline-success" for="activo">Activo</label>
                            
                            <input type="radio" class="btn-check" name="btnradio" id="inactivo" autocomplete="off" value="false">
                            <label class="btn btn-outline-danger" for="inactivo">Inactivo</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const exampleModal = document.getElementById('editar');
    if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const id = button.getAttribute('data-bs-id')
            const names = button.getAttribute('data-bs-names')
            const ln = button.getAttribute('data-bs-ln')
            const sln = button.getAttribute('data-bs-sln')
            const edad = button.getAttribute('data-bs-edad')
            const state = button.getAttribute('data-bs-state')
            const idEscuela = button.getAttribute('data-bs-idescuela')
            const idPuesto = button.getAttribute('data-bs-idpuesto')
            const idGenero = button.getAttribute('data-bs-idgenero')

            console.log(state)

            if (state == 1) {
                exampleModal.querySelector('#activo').setAttribute('checked', '')
            } else {
                exampleModal.querySelector('#inactivo').setAttribute('checked', '')
            }
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.

            // Update the modal's content.
            const modalTitle = exampleModal.querySelector('.modal-title')
            const inputNames = exampleModal.querySelector('#updateNames')
            const inputLN = exampleModal.querySelector('#updateLastName')
            const inputSLN = exampleModal.querySelector('#updateSecondLastName')
            const inputEdad = exampleModal.querySelector('#updateEdad')
            const inputEscuela = exampleModal.querySelector('#updateEscuela')
            const inputPuesto = exampleModal.querySelector('#updatePuesto')
            const inputGenero = exampleModal.querySelector('#updateGenero')
            const form = exampleModal.querySelector('#updateFormulario')

            modalTitle.textContent = `Actualizar ${names}`
            inputNames.value = names
            inputLN.value = ln
            inputSLN.value = sln
            inputEdad.value = edad
            inputEscuela.value = idEscuela
            inputPuesto.value = idPuesto
            inputGenero.value = idGenero
            form.setAttribute('action', `/update-docente/${id}`)
        })
    }
</script>
{% endblock %}