{% extends './base.html' %}

{% block title %}Colonias{% endblock %}

{% block body %}
<div class="conteiner">
    <div class="row m-2">
        <div class="col text-white bg-secondary py-2">Nombre</div>
        <div class="col text-white bg-secondary py-2">Colonia</div>
        <div class="col text-white bg-secondary py-2">Calle</div>
        <div class="col text-white bg-secondary py-2">Numero</div>
        <div class="col text-white bg-secondary py-2">CP</div>
        <div class="col text-white bg-secondary py-2">Estado</div>
        <div class="col text-white bg-secondary py-2"></div>
        <div class="col text-white bg-secondary py-2"></div>
    </div>
    {% for escuela in escuelas %}
    <div class="row m-2">
        <div class="col">{{ escuela[1] }}</div>
        <div class="col">{{ escuela[2] }}</div>
        <div class="col">{{ escuela[3] }}</div>
        <div class="col">{{ escuela[4] }}</div>
        <div class="col">{{ escuela[5] }}</div>
        <div class="col">{% if escuela[6]: %}Activo{% else %}Inactivo {% endif %}</div>
        <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editar" 
                data-bs-id="{{ escuela[0] }}" 
                data-bs-name="{{ escuela[1] }}" 
                data-bs-id2="{{ escuela[7] }}" 
                data-bs-state="{{ escuela[6] }}" 
                data-bs-cp="{{ escuela[5] }}"
                data-bs-number="{{ escuela[4] }}"
                data-bs-street="{{ escuela[3] }}">Editar</button>
        </div>
        <div class="col">delete</div>
    </div>
    {% endfor %}
    <div class="row m-4">
        <div class="col">
            <form action="/new-escuela" method="post" class="">
                <div class="row">
                    <div class="col"><input type="text" class="form-control" name="name" placeholder="Escuela" /></div>
                    <div class="col">
                        <div class="input-group">
                            <label class="input-group-text" for="colonia">Colonia</label>
                            <select class="form-select" id="colonia" name="colonia">
                                <option selected disabled>Choose...</option>
                                {% for colonia in colonias %}
                                <option value="{{ colonia[0] }}">{{ colonia[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col"><input type="text" class="form-control" name="calle" placeholder="Calle" /></div>
                    <div class="col"><input type="text" class="form-control" name="numero" placeholder="Numero" /></div>
                    <div class="col"><input type="text" class="form-control" name="cp" placeholder="Código Postal" /></div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editar" tabindex="-1" aria-labelledby="editarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editarLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formulario" action="" method="post">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-2">
                                <label for="update-name" class="col-form-label">Nombre:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="update-name" name="update-name">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <label class="input-group-text" for="inputColonia">Colonia</label>
                            <select class="form-select" id="inputColonia" name="inputColonia">
                                {% for colonia in colonias %}
                                <option value="{{ colonia[0] }}">{{ colonia[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-2">
                                <label for="update-street" class="col-form-label">Calle:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="update-street" name="update-street">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-2">
                                <label for="update-number" class="col-form-label">Número:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="update-number" name="update-number">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-2">
                                <label for="update-cp" class="col-form-label">CP:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="update-cp" name="update-cp">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="activo" autocomplete="off" value="true">
                            <label class="btn btn-outline-success" for="activo">Activo</label>
                            
                            <input type="radio" class="btn-check" name="btnradio" id="inactivo" autocomplete="off" value="false">
                            <label class="btn btn-outline-danger" for="inactivo">Inactivo</label>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>
  
<script>
    const exampleModal = document.getElementById('editar');
    if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const id = button.getAttribute('data-bs-id')
            const name = button.getAttribute('data-bs-name')
            const id2 = button.getAttribute('data-bs-id2')
            const street = button.getAttribute('data-bs-street')
            const number = button.getAttribute('data-bs-number')
            const cp = button.getAttribute('data-bs-cp')
            const state = button.getAttribute('data-bs-state')

            if (state == 1) {
                exampleModal.querySelector('#activo').setAttribute('checked', '')
            } else {
                exampleModal.querySelector('#inactivo').setAttribute('checked', '')
            }
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.

            // Update the modal's content.
            const modalTitle = exampleModal.querySelector('.modal-title')
            const nameInput = exampleModal.querySelector('.modal-body input')
            const nameDropdown = exampleModal.querySelector('#inputColonia')
            const nameStreet = exampleModal.querySelector('#update-street')
            const nameNumber = exampleModal.querySelector('#update-number')
            const nameCP = exampleModal.querySelector('#update-cp')
            const form = exampleModal.querySelector('#formulario')

            modalTitle.textContent = `Actualizar ${name}`
            nameInput.value = name
            nameDropdown.value = id2
            nameStreet.value = street
            nameNumber.value = number
            nameCP.value = cp
            form.setAttribute('action', `/update-escuela/${id}`)
        })
    }
</script>
{% endblock %}