{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <div class="row text-center">
        <div class="col w-100 m-3"><a class="" href="{{ url_for('estados') }}"><img src="{{ url_for('static', filename='img/estado.png') }}" width="50px" alt="Estado" /></a></div>
        <div class="col w-100 m-3"><a class="" href="{{ url_for('municipios') }}"><img src="{{ url_for('static', filename='img/municipio.png') }}" width="50px" alt="Municipio" /></a></div>
        <div class="col w-100 m-3"><a class="" href="{{ url_for('colonias') }}"><img src="{{ url_for('static', filename='img/colonia.png') }}" width="50px" alt="Colonia" /></a></div>
        <div class="col w-100 m-3"><a class="" href="{{ url_for('escuelas') }}"><img src="{{ url_for('static', filename='img/escuela.png') }}" width="50px" alt="Escuelas" /></a></div>
        <div class="col w-100 m-3"><a class="" href="{{ url_for('docentes') }}"><img src="{{ url_for('static', filename='img/docente.png') }}" width="50px" alt="Docentes" /></a></div>
        <div class="col w-100 m-3"><a class="" href="{{ url_for('alumnos') }}"><img src="{{ url_for('static', filename='img/estudiantes.png') }}" width="50px" alt="Alumnos" /></a></div>
    </div>
    <div class="row text-center">
        
    </div>
</div>
{% endblock %}